:root {
  --black: rgba(0, 44, 92, 1);
  --dark-gray: rgba(50, 59, 73, 1);
  --gray: rgba(100, 116, 139, 1);
  --primary: rgba(59, 130, 246, 1);
  --green: rgba(16, 185, 129, 1);
  --red: rgba(239, 68, 68, 1);
  --white: rgba(255, 255, 255, 1);
  --stroke: rgba(241, 242, 244, 1);
  --greyscalewhite: rgba(255, 255, 255, 1);
  --h1-font-family: "Geist", Helvetica;
  --h1-font-weight: 700;
  --h1-font-size: 32px;
  --h1-letter-spacing: 0px;
  --h1-line-height: 32px;
  --h1-font-style: normal;
  --h2-font-family: "Geist", Helvetica;
  --h2-font-weight: 700;
  --h2-font-size: 24px;
  --h2-letter-spacing: 0px;
  --h2-line-height: normal;
  --h2-font-style: normal;
  --h3-font-family: "Geist", Helvetica;
  --h3-font-weight: 600;
  --h3-font-size: 20px;
  --h3-letter-spacing: 0px;
  --h3-line-height: normal;
  --h3-font-style: normal;
  --sub-title1-font-family: "Geist", Helvetica;
  --sub-title1-font-weight: 600;
  --sub-title1-font-size: 18px;
  --sub-title1-letter-spacing: 0px;
  --sub-title1-line-height: 26px;
  --sub-title1-font-style: normal;
  --body-1-font-family: "Geist", Helvetica;
  --body-1-font-weight: 400;
  --body-1-font-size: 16px;
  --body-1-letter-spacing: 0px;
  --body-1-line-height: 22px;
  --body-1-font-style: normal;
  --body-2-font-family: "Geist", Helvetica;
  --body-2-font-weight: 400;
  --body-2-font-size: 14px;
  --body-2-letter-spacing: 0px;
  --body-2-line-height: 20px;
  --body-2-font-style: normal;
  --drop-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
}
